* {
  box-sizing: border-box;
  transition: 0.15s;
}

html {
  font-size: 90%;
  font-weight: $font-weight--regular;
  @media (min-width: $break--sm) {
    font-size: 100%;
  }
}

body {
  background: $grey--100;
  font-family: $font-family;
}
