* {
  box-sizing: border-box;
  transition: 0.15s ease-in-out;
}

html {
  font-size: 90%;
  font-weight: $font-weight--regular;
  overflow-x: hidden;

  @media (min-width: $break--sm) {
    font-size: 100%;
  }
}

body {
  background: $grey--200;
  font-family: $font-family;
}
