// Font
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic);
$font-family: 'Nanum Gothic', sans-serif;

$font-weight--thin:   400;
$font-weight--regular: 700;
$font-weight--bold:   800;

$font-size--xs: 0.75rem;
$font-size--sm: 1rem;
$font-size--md: 1.2rem;
$font-size--lg: 1.5rem;
$font-size--xl: 2rem;

// Layout
$space-xs: 0.3rem;
$space-sm: 0.5rem;
$space-md: 0.75rem;
$space-lg: 1.25rem;
$space-xl: 2rem;

$border-radius: 0.15rem;

$z-index--header: 9999;

// Breakpoints
$break--sm: 600px;
$break--md: 768px;
$break--lg: 992px;
$break--xl: 1200px;

// Colors
$grey--50: #fafafa;
$grey--100: #f5f5f5;
$grey--200: #eeeeee;
$grey--300: #e0e0e0;
$grey--400: #bdbdbd;
$grey--500: #9e9e9e;
$grey--600: #757575;
$grey--700: #616161;
$grey--800: #424242;
$grey--900: #212121;

$color-primary--50:  #e8eaf6;
$color-primary--100: #c5cae9;
$color-primary--200: #9fa8da;
$color-primary--300: #7986cb;
$color-primary--400: #5c6bc0;
$color-primary--500: #3f51b5;
$color-primary--600: #3949ab;
$color-primary--700: #303f9f;
$color-primary--800: #283593;
$color-primary--900: #1a237e;

// $color-primary--50:  #ede7f6;
// $color-primary--100: #d1c4e9;
// $color-primary--200: #b39ddb;
// $color-primary--300: #9575cd;
// $color-primary--400: #7e57c2;
// $color-primary--500: #673ab7;
// $color-primary--600: #5e35b1;
// $color-primary--700: #512da8;
// $color-primary--800: #4527a0;
// $color-primary--900: #311b92;

$color-secondary--50:  #fffde7;
$color-secondary--100: #fff9c4;
$color-secondary--200: #fff59d;
$color-secondary--300: #fff176;
$color-secondary--400: #ffee58;
$color-secondary--500: #ffeb3b;
$color-secondary--600: #fdd835;
$color-secondary--700: #fbc02d;
$color-secondary--800: #f9a825;
$color-secondary--900: #f57f17;

$color-error--50:  #ffebee;
$color-error--100: #ffcdd2;
$color-error--200: #ef9a9a;
$color-error--300: #e57373;
$color-error--400: #ef5350;
$color-error--500: #f44336;
$color-error--600: #e53935;
$color-error--700: #d32f2f;
$color-error--800: #c62828;
$color-error--900: #b71c1c;

// Shadows
$box-shadow--0: none !important;
$box-shadow--1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
$box-shadow--2: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.3);
$box-shadow--3: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);
$box-shadow--4: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                0 6px 30px 5px rgba(0, 0, 0, 0.12),
                0 8px 10px -7px rgba(0, 0, 0, 0.2);
$box-shadow--5: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
                0 9px 46px 8px rgba(0, 0, 0, 0.12),
                0 11px 15px -7px rgba(0, 0, 0, 0.2);
