.accordion {
  background: $color-primary--300;
  color: white;
  cursor: pointer;
  font-size: $font-size--md;
  padding: $space-md;
  text-align: left;
  border: none;
  outline: none;
  margin-bottom: $space-xs;
  width: 100%;

  &:hover {
    background: $color-primary--400;
  }
}

.accordion.open {
  width: 100%;
}

.accordion:after {
  content: '\f13a';
  color: white;
  font-family: 'FontAwesome';
  font-size: $font-size--md;
  float: right;
  transition: transform .15s ease-in-out;
}

.accordion.open:after {
  transform: rotateZ(180deg);
}

.accordion-panel {
  display: none;
}

.accordion-panel.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.accordion-panel__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $break--sm) {
    flex-direction: row;
  }
}
