.accordion {
  background: $color-primary--50;
  border: none;
  border-bottom: 1px solid $color-primary--100;
  color: $color-primary--900;
  cursor: pointer;
  font-size: $font-size--md;
  padding: $space-md;
  text-align: left;
  outline: none;
  margin-bottom: $space-xs;
  width: 100%;

  &:hover {
    background: $color-primary--200;
  }
}

.accordion.open {
  width: 100%;
}

.accordion:after {
  content: '\f13a';
  color: $color-primary--900;
  font-family: 'FontAwesome';
  font-size: $font-size--md;
  float: right;
  transition: transform .15s ease-in-out;
}

.accordion.open:after {
  transform: rotateZ(180deg);
}

.accordion-panel {
  display: none;
}

.accordion-panel.open {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
