.SingleDatePicker {
  display: flex;
  justify-content: center;
  width: auto;

  .SingleDatePickerInput {
    width: auto;
    .DateInput {
      align-items: center;
      border: 1px solid $color-primary--100;
      border-radius: $border-radius;
      width: auto;

      &.changed {
        border: 1px solid $color-secondary--900;

        & .DateInput_input {
          background: $color-secondary--50;
          color: $color-secondary--900;
          width: auto;
        }
      }
    }

    .DateInput_input {
      background: white;
      color: $color-primary--500;
      outline: none;
      padding: $space-xs;
      text-align: center;

      &:focus {
        border-color: $color-primary--500;
      }
    }

    .DateInput__disabled {
      border: 1px solid $grey--300;
    }

    .DateInput_input__disabled {
      background: $grey--100;
      color: $grey--500;
    }
  }
}

.DateRangePicker {
  display: flex;
  justify-content: center;
  padding: $space-xs;

  .DateRangePickerInput {
    align-items: center;
    border: 1px solid $color-primary--100;
    border-radius: $border-radius;

    .DateInput_input {
      color: $color-primary--500;
      outline: none;
      padding: $space-xs;
      text-align: center;

      &:focus {
        border-color: $color-primary--500;
      }
    }
  }
}
