.account-modal {
  background: white;
  box-shadow: $box-shadow--1;
  margin: 0 auto;
  max-height: 90vh;
  opacity: 1;
  overflow: scroll;
  padding: $space-xs;
  width: 90%;
  max-width: $break--md;
}

.account-modal__button-group {
  display: flex;
  justify-content: center;
}
