.account {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: $color-primary--50;
  }

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }
}

.account-details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: $font-size--md;
  justify-content: center;
  padding: $space-sm 0;
  width: 85%;
}

.account-name-container,
.account-contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.account-name {
  color: $grey--900;
  font-size: $font-size--lg;
  font-weight: $font-weight--bold;
  margin: 0;
  padding: $space-xs;

  &:hover {
    color: $color-primary--500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.account-phone,
.account-fax,
.account-email {
  color: $grey--600;
  margin: 0;
  padding: $space-xs;
  text-decoration: none;
  word-break: break-all;
}

.account-phone:hover,
.account-email:hover {
  color: $color-primary--300;
  cursor: pointer;
  text-decoration: underline;
}

.account-buttons-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.account-button {
  width: 3rem;
  margin: $space-xs;
}

@media (min-width: $break--sm) {
  .account-details-container {
    flex-direction: row;
    margin: 0 $space-sm;
  }

  .account-name-container {
    width: 35%;
  }

  .account-contact-container {
    width: 65%;
  }

  .account-phone,
  .account-fax,
  .account-email {
    text-align: right;
  }

  .account-name {
    font-size: $font-size--md;
  }
}

@media (min-width: $break--md) {
  .account-contact-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .account-phone,
  .account-fax {
    flex-grow: 1;
    width: 50%;
    text-align: left;
  }

  .account-button {
    height: 2rem;
    width: 2.5rem;

    span {
      font-size: $font-size--xs;
    }
  }
}

@media (min-width: $break--lg) {
  .account-name-container {
    flex-grow: 1;
    width: 30%;
  }

  .account-phone,
  .account-fax {
    width: 30%;
  }

  .account-email {
    width: 40%;
    text-align: left;
  }
}
