.completed-order {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;
  justify-content: space-between;
  padding: $space-xs;

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }

  &.d-3 {
    background: $color-secondary--50;
  }

  &.d-1 {
    background: $color-error--50;
  }

  &:hover {
    background: $color-primary--50;
  }

  &.delivery-ordered {
    background: $grey--200;
    color: $grey--500;

    .completed-order-list-item__remark-container .completed-order-list-item__text,
    * {
      color: $grey--500;
    }
  }
}

.completed-order-list-item-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 $space-xs;
}

.completed-order-list-item__remark-container {
  display: flex;
  justify-content: flex-start;

  .completed-order-list-item__text {
    color: $color-error--500;
  }
}

.completed-order-list-item__id-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.completed-order-list-item__dates-container {
  align-items: center;
  width: 60%;
  text-align: right;
}

.completed-order-list-item__names-container {
  display: flex;
  flex-direction: column;
}

.completed-order-list-item__text {
  color: $grey--800;
  font-size: $font-size--md;
  margin: 0;
  padding: $space-xs;
}

.completed-order-list-item__productName {
  font-size: $font-size--lg;
}

.completed-order-list-item__accountName,
.completed-order-list-item__orderID {
  font-size: $font-size--md;
}

.completed-order-list-item__productName-container,
.completed-order-list-item__accountName-container,
.completed-order-list-item__orderID-container {
  align-items: center;
  display: flex;
  margin: 0;
  padding: $space-xs;
}

.completed-order-list-item__productName,
.completed-order-list-item__accountName,
.completed-order-list-item__orderID {
  color: $grey--900;

  &:hover {
    color: $color-primary--500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.completed-order-list-item__buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.completed-order-list-item__button {
  height: 2.3rem;
  width: 2.8rem;
  margin: $space-xs;
  padding: $space-xs $space-sm;
}

@media (min-width: $break--sm) {
  .completed-order-list-item__product-details-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .completed-order-list-item__names-container {
    width: 60%;
  }

  .completed-order-list-item__size-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 40%;
  }
}

@media (min-width: $break--md) {
  .completed-order-list-item__names-container {
    align-items: center;
    flex-direction: row;
    width: 50%;
  }

  .completed-order-list-item__size-container {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  .completed-order-list-item__accountName-container {
    width: 35%;
  }

  .completed-order-list-item__accountName {
    font-size: $font-size--md;
  }

  .completed-order-list-item__button {
    height: 2rem;
    width: 2.5rem;

    span {
      font-size: $font-size--xs;
    }
  }
}

@media (min-width: $break--lg) {
  .completed-order-list-item__id-container {
    width: 11%;
  }

  .completed-order-list-item__dates-container {
    align-items: center;
    display: flex;
    width: 15%;
    text-align: left;
  }

  .completed-order-list-item__names-container {
    width: 55%;
  }

  .completed-order-list-item__size-container {
    width: 45%;
  }

  .completed-order-list-item__accountName,
  .completed-order-list-item__text,
  .completed-order-list-item__orderID {
    font-size: $font-size--sm;
  }

  .completed-order-list-item__productName {
    font-size: $font-size--md;
  }

  .completed-order-list-item__buttons-container {
    flex-direction: row;
  }
}
