.confirmation-modal__description {
  color: $color-primary--900;
  font-size: $font-size--md;
  text-align: center;
}

.confirmation-modal__button-group {
  display: flex;
  justify-content: center;
}
