#dashboard-list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $space-xs;
}

.dashboard-list-item {
  background: $color-primary--50;
  border-radius: $border-radius;
  box-shadow: $box-shadow--1;
  margin: $space-md 0;
}

.dashboard-list-item__title {
  background: $color-primary--500;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: white;
  font-size: $font-size--xl;
  font-weight: $font-weight--bold;
  margin: 0;
  padding: $space-md;
  text-align: center;
}

.dashboard-list-item__subtitle {
  font-size: $font-size--lg;
  text-align: center;
  width: 100%;
}

.dashboard-list-item__content {
  align-items: center;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  padding: $space-sm;

  p {
    margin: 0;
    padding: $space-xs 0;
  }
}

.dashboard-list-item__content-25 {
  width: 25%;
  text-align: center;
}

.dashboard-list-item__content-50 {
  width: 50%;
  text-align: center;
}

.dashboard-list-item__content-75 {
  width: 75%;
  text-align: center;
}

.dashboard-list-item__content-100 {
  width: 100%;
  text-align: center;
}

.dashboard-list-item__large-number {
  font-size: $font-size--xl * 2;
  font-weight: $font-weight--bold;
}

.dashboard-list-item__small-number {
  font-size: $font-size--xl;
  font-weight: $font-weight--bold;
}

.incompleteOrders-container {
  width: 100%;
}

.completedOrders-container {
  width: 48%;
}

.deliveryOrders-container {
  width: 48%;
}

.needPlateProducts-container {
  width: 100%;
}

.needPlateProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.needPlateProducts-list-item {
  display: flex;
  justify-content: space-between;
  padding: $space-xs;
  margin-bottom: $space-xs;
}

.dashboard-list-item__productName-container {
  text-align: left;
  width: auto;
}

@media (min-width: $break--sm) {
  .incompleteOrders-container {
    width: 58%;
  }

  .completedOrders-container {
    width: 38%;
  }

  .deliveryOrders-container {
    width: 36%;
  }

  .needPlateProducts-container {
    width: 60%;
  }
}

@media (min-width: $break--md) {
  .incompleteOrders-container {
    width: 40%;
  }

  .completedOrders-container {
    width: 28%;
  }

  .deliveryOrders-container {
    width: 28%;
  }

  .needPlateProducts-container {
    width: auto;
  }
}
