.header--container {
  background: $color-primary--500;
  box-shadow: $box-shadow--2;
}

.header--contents {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.header--title-container {
  align-items: center;
  display: flex;
}

.header--title {
  color: white;
  font-size: $font-size--xl;
  font-weight: $font-weight--bold;
  padding: $space-xs;
  text-decoration: none;
}

.header--logout {
  color: white;
  display: inline-block;
  font-size: $font-size--md;
  padding: $space-md;
  text-decoration: none;

  &:hover {
    background: $color-primary--100;
    color: $color-primary--500;
    cursor: pointer;
  }
}

#nav-toggle {
  display: none;
}

.toggle {
  color: white;
  font-size: $font-size--lg;
  display: inline-block;
  padding: $space-sm;

  &:hover {
    color: $color-secondary--600;
    cursor: pointer;
  }

  @media (min-width: $break--lg) {
    display: none;
  }
}

.nav {
  align-items: stretch;
  background: $color-primary--100;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0.9;
  overflow: hidden;
  position: absolute;
  width: 0;
  left: -100%;

  @media (min-width: $break--lg) {
    box-shadow: $box-shadow--2;
    flex-direction: row;
    height: auto;
    position: relative;
    width: 100vw;
    left: 0;
  }
}

.open {
  width: 100vw;
  left: 0;
}

.nav--item {
  color: $color-primary--900;
  font-size: $font-size--md;
  font-weight: $font-weight--bold;
  padding: $space-sm;
  text-decoration: none;

  &:hover {
    background: $color-primary--400;
    color: white;
  }
}
