.header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.header--container {
  background: $color-primary--500;
  box-shadow: $box-shadow--2;
}

.header--contents {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  height: 3.5rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $break--xl;
}

.header--title-container {
  align-items: center;
  display: flex;
}

.header--title {
  color: white;
  font-size: $font-size--xl;
  font-weight: $font-weight--bold;
  padding: $space-sm;
  text-decoration: none;

  &:hover {
    color: $color-secondary--600;
  }
}

.header--button-container {
  align-items: stretch;
  display: flex;
}

.header--userLoggedIn {
  align-self: center;
  color: white;
  vertical-align: middle;
}

.header--logout {
  align-items: center;
  color: white;
  display: flex;
  font-size: $font-size--md;
  justify-content: center;
  text-decoration: none;
  width: 5rem;

  i {
    font-size: $font-size--lg;
    padding: $space-sm;
    width: 100%;
    text-align: right;
  }

  &:hover {
    background: $color-primary--400;
    cursor: pointer;

    i {
      display: none;
    }

    &::after {
      content: '로그아웃';
      vertical-align: middle;
    }
  }
}

#nav-toggle {
  display: none;
}

.toggle {
  color: white;
  font-size: $font-size--lg;
  display: inline-block;
  padding: $space-sm;
  width: 2.5rem;
  text-align: center;

  &:hover {
    color: $color-secondary--600;
    cursor: pointer;
  }
}

.nav-container {
  background: $color-primary--50;
  box-shadow: $box-shadow--2;
  opacity: 0.98;
}

.nav {
  background: $color-primary--50;
  box-shadow: $box-shadow--2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 0;
  left: -100%;
  z-index: $z-index--header;
}

.open {
  width: 30vw;
  left: 0;
}

.nav--item {
  color: $color-primary--900;
  font-size: $font-size--md;
  font-weight: $font-weight--bold;
  padding: $space-sm;
  text-decoration: none;

  &:hover,
  &--active {
    background: $color-primary--200;
    color: white;
  }
}

@media (min-width: $break--md) {
  .toggle {
    display: none;
  }

  .nav {
    box-shadow: none;
    flex-direction: row;
    height: auto;
    position: relative;
    width: 100vw;
    left: 0;
    max-width: $break--xl;
    margin: 0 auto;
  }
}
