.order-search__input-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;

  @media (min-width: $break--sm) {
    width: 85%;
  }

  @media (min-width: $break--lg) {
    width: 90%;
  }
}

.order-search__button-container {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 20%;

  @media (min-width: $break--sm) {
    width: 15%;
  }

  @media (min-width: $break--lg) {
    width: 10%;
  }
}

.order-search__input-container {
  .DateRangePicker {
    width: 100%;

    @media (min-width: $break--sm) {
      width: auto;
    }
  }
}

.order-range-button {
  width: 22%;

  @media (min-width: $break--sm) {
    font-size: $font-size--xs;
    width: 12.5%;
  }

  @media (min-width: $break--md) {
    width: 15%;
  }

  @media (min-width: $break--lg) {
    width: auto;
  }
}

.order-search__input-container .search-by-account-name {
  width: 37%;

  @media (min-width: $break--md) {
    width: 25%;
  }

  @media (min-width: $break--lg) {
    width: 10%;
  }
}

.order-search__input-container .search-by-product-name {
  width: 57%;

  @media (min-width: $break--md) {
    width: 40%;
  }

  @media (min-width: $break--lg) {
    width: 16%;
  }
}

.order-isPrint-select {
  height: 1.8rem;
  margin: $space-xs;
  padding: $space-xs;
}

.order-search-reset-button {
  width: 100%;
}
