.order {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;
  justify-content: space-between;
  padding: $space-xs;

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }

  &.d-3 {
    background: $color-secondary--50;
  }

  &.d-1 {
    background: $color-error--50;
  }

  &:hover {
    background: $color-primary--50;
  }

  &.completed {
    background: $grey--200;
    color: $grey--500;

    .order-id-container .order-list__text,
    * {
      color: $grey--500;
    }
  }
}

.order-list-header {
  align-items: center;
  border-bottom: 1.5px solid $color-primary--100;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .order-buttons-container {
    width: auto;
  }

  .checkmark {
    margin-right: $space-md;
  }
}

.order-id-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: 35%;

  .order-list__text {
    color: $color-error--500;
  }
}

.order-container {
  align-items: center;
  display: flex;
  color: $grey--900;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-list__select {
  font-size: $font-size--sm;
  height: 2rem;
  margin: 0;
}

.order-dates-container,
.order-names-container,
.order-details-container,
.order-orderQuantity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.order-dates-container {
  text-align: right;
}

.order-names-container {
  width: 100%;
}

.order-product-details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.order-product-size-container {
  width: 50%;
}

.order-orderQuantity-container {
  text-align: right;
  width: 50%;
}

.order-product-size-container,
.order-orderQuantity-container {
  .order-list__text {
    font-size: $font-size--md;
  }

  i {
    color: $grey--600;
    font-size: $font-size--xs;
  }
}

.order-list__text {
  color: $grey--600;
  font-size: $font-size--sm;
  margin: 0;
  padding: $space-xs;
}

.order-list__productName-container,
.order-list__accountName-container,
.order-list__orderID-container {
  margin: 0;
  padding: $space-xs;
}

.order-list__productName,
.order-list__accountName,
.order-list__orderID {
  color: $grey--900;
  font-size: $font-size--md;

  &:hover {
    color: $color-primary--500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.order-list__productName {
  font-size: $font-size--lg;
  font-weight: $font-weight--bold;
}

.order-status-select-container {
  display: flex;
  padding: $space-xs;
}

.order-buttons-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.order-button {
  height: 2.3rem;
  width: 2.8rem;
  margin: $space-xs;
  padding: $space-xs $space-sm;
}

@media (min-width: $break--sm) {
  .order-names-container {
    width: 50%;
  }

  .order-product-size-container,
  .order-orderQuantity-container {
    width: 25%;
  }
}

@media (min-width: $break--md) {
  .order-container {
    width: 94%;
  }

  .order-id-container {
    justify-content: flex-start;

    .order-list__text {
      font-size: $font-size--md;
    }
  }

  .order-dates-container {
    width: 15%;
  }

  .order-product-details-container {
    width: 62%;
  }

  .order-names-container {
    width: 40%;
  }

  .order-product-size-container {
    width: 30%;
    text-align: center;

    .order-list__text {
      font-size: $font-size--sm;
    }
  }

  .order-orderQuantity-container {
    width: 30%;
  }

  .order-button {
    height: 2rem;
    width: 2.5rem;

    span {
      font-size: $font-size--xs;
    }
  }

  .order-list__orderID {
    font-size: $font-size--sm;
  }

  .order-list__productName {
    font-size: $font-size--md;
  }

  .order-list__accountName {
    font-size: $font-size--sm;
  }

  .order-list__text {
    font-size: $font-size--xs;
  }
}

@media (min-width: $break--lg) {
  .order-id-container {
    flex-grow: 0;
    width: 10%;
  }

  .order-dates-container {
    text-align: center;
    width: 11%;
  }

  .order-product-details-container {
    width: 48%;
  }

  .order-buttons-container {
    width: auto;
  }

  .order-names-container {
    width: 45%;
  }

  .order-product-size-container,
  .order-orderQuantity-container {
    width: 27%;
  }
}
