.order-detail-modal {
  overflow-x: hidden;
  width: 95%;
  max-width: $break--sm;
}

.order-detail__container {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0;
  }
}

.order-detail__subsection {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.order-detail__subtitle {
  border-bottom: 1px solid $color-primary--100;
  color: $color-primary--600;
  font-size: $font-size--lg;
  margin: $space-sm 0 $space-md;
  padding: $space-xs;
  width: 100%;
}

.order-detail__orderID {
  font-size: $font-size--xl;
  padding: $space-xs;
  width: 50%;
}

.order-detail__deliverRemark {
  color: $color-error--500;
  font-size: $font-size--lg;
  font-weight: $font-weight--bold;
  padding: $space-xs;
  text-align: right;
  width: 50%;
}

.order-detail__dates {
  padding: $space-xs;
  width: 50%;
  text-align: center;
}

.order-detail__accountName {
  font-size: $font-size--md;
  padding: $space-xs;
  width: 100%;
}

.order-detail__productName {
  font-size: $font-size--xl;
  padding: $space-xs;
  width: 100%;
}

.order-detail__orderInfo {
  color: $grey--800;
  font-size: $font-size--lg;
  padding: $space-xs;
  width: 100%;
}

.order-detail__description {
  color: $grey--700;
  font-size: $font-size--md;
  padding: $space-xs;
  width: 100%;
}

.order-detail__print-image {
  margin: 0 auto;
  max-height: 50vh;
  max-width: 100%;
}
