.plate {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: $color-primary--50;
  }

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }
}

.plate-list-item__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.plate-list-item__buttons-container {
  display: flex;
  flex-direction: column;
}

.plate-list-item__plateSize {
  font-size: $font-size--lg;
  font-weight: $font-weight--bold;
  padding: $space-xs;

  &:hover {
    color: $color-primary--500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.plate-list-item__forProductListItem {
  border-top: 0.5px dashed $color-primary--100;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: $space-xs;
  margin: 0 $space-md;

  span {
    font-size: $font-size--md;
    width: 50%;
  }
}

.plate-list-item__forProductName-container {
  padding-bottom: $space-xs;
  width: 100%;
}

.plate-list-item__forProductName {
  font-size: $font-size--md;

  &:hover {
    color: $color-primary--500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.plate-list-item__button {
  height: 2.3rem;
  width: 2.8rem;
  margin: $space-xs;
  padding: $space-xs;
}

@media (min-width: $break--sm) {
  .plate-list-item__forProductListItem {
    span {
      width: 35%;
    }
  }

  .plate-list-item__buttons-container {
    flex-direction: row;
  }
}

@media (min-width: $break--md) {
  .plate-list-item__container {
    align-items: center;
    flex-direction: row;
  }

  .plate-list-item__forProductList-container {
    flex-grow: 1;
  }

  .plate-list-item__forProductListItem {
    span {
      width: 25%;
    }
  }

  .plate-list-item__forProductName-container {
    padding-bottom: 0;
    width: 50%;
  }

  .plate-list-item__forProductListItem:first-child {
    border-top: none;
  }
}
