.product-modal {
  width: 90%;
  max-width: $break--md;
}

.product-modal__button-group {
  display: flex;
  justify-content: center;
}

.product-modal__error {
  color: $color-error--500;
  font-weight: $font-weight--bold;
  margin: 0;
  text-align: center;
}
