.product-detail__container {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0;
  }
}

.product-detail__accountName {
  font-size: $font-size--md;
  padding: $space-xs;
}

.product-detail__productName {
  font-size: $font-size--xl;
  padding: $space-xs;
}

.product-detail__subtitle {
  border-bottom: 1px solid $color-primary--100;
  margin-top: $space-sm;
  padding: $space-xs;
}

.product-detail__description {
  color: $grey--800;
  padding: $space-xs;
}

.product-detail__printImage {
  width: 100%;
}

@media (min-width: $break--md) {
  .product-detail__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-detail__subsection {
    width: 50%;
  }
}
