.product-search__input-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.product-search__button-container {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 20%;

  @media (min-width: $break--sm) {
    width: 15%;
  }

  @media (min-width: $break--md) {
    width: 10%;
  }

  @media (min-width: $break--lg) {
    width: 5%;
  }
}

.product-search-button {
  flex-grow: 1;
  font-size: $font-size--md;
}

.product-search-error {
  color: $color-error--500;
  font-weight: $font-weight--bold;
  margin: 0;
  text-align: center;
  width: 100%;
}

.search-by-account-name.hasValue,
.search-by-product-name.hasValue,
.search-by-size.hasValue,
.search-by-color.hasValue {
  background: $color-secondary--100;
  font-weight: $font-weight--bold;
}

.product-search__input-container .search-by-account-name {
  flex-grow: 1;
  width: 39%;

  @media (min-width: $break--sm) {
    width: 40%;
  }

  @media (min-width: $break--lg) {
    width: 16%;
  }
}

.product-search__input-container .search-by-product-name {
  flex-grow: 1;
  width: 55%;

  @media (min-width: $break--sm) {
    width: 56%;
  }

  @media (min-width: $break--lg) {
    width: 25%;
  }
}

.product-search__input-container .search-by-size {
  flex-grow: 1;
  width: 30%;

  @media (min-width: $break--sm) {
    width: 13%;
  }

  @media (min-width: $break--lg) {
    width: 8%;
  }
}

.product-search__input-container .search-by-color {
  flex-grow: 1;
  width: 47%;

  @media (min-width: $break--sm) {
    width: 25.5%;
  }

  @media (min-width: $break--lg) {
    width: 13.5%;
  }
}
