.product-detail-modal {
  width: 95%;
  max-width: $break--sm;
}

.product-detail__container {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0;
  }
}

.product-detail__subsection {
  display: flex;
  flex-direction: column;
}

.product-detail__accountName {
  font-size: $font-size--md;
  padding: $space-xs;
}

.product-detail__productName {
  font-size: $font-size--xl;
  padding: $space-xs;
}

.product-detail__subtitle {
  border-bottom: 1px solid $color-primary--100;
  color: $color-primary--600;
  font-size: $font-size--md;
  margin-top: $space-sm;
  padding: $space-xs;
}

.product-detail__description {
  color: $grey--700;
  font-size: $font-size--md;
  padding: $space-xs;
}

.product-detail__print-image {
  margin: 0 auto;
  max-height: 50vh;
  max-width: 100%;
}

@media (min-width: $break--md) {
}
