.product-detail-modal {
  overflow-x: hidden;
  width: 95%;
  max-width: 480px;
}

.product-detail__container {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0;
  }
}

.product-detail__subsection {
  display: flex;
  flex-direction: column;
}

.product-detail__accountName {
  font-size: $font-size--md;
  padding: $space-xs;
}

.product-detail__productName {
  font-size: $font-size--xl;
  padding: $space-xs;
}

.product-detail__subtitle {
  border-bottom: 1px solid $color-primary--100;
  color: $color-primary--600;
  font-size: $font-size--lg;
  margin-top: $space-sm;
  padding: $space-xs;
}

.product-detail__description {
  color: $grey--700;
  font-size: $font-size--md;
  padding: $space-xs;
}

.product-detail__print-image {
  width: 100%;
  position: relative;

  img {
    display: block;
    margin: $space-sm auto;
    max-height: 50vh;
    max-width: 100%;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background: $color-primary--50;
  }

  .product-detail__image-link {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    &:hover {
      color: $color-primary--200;
    }
  }

  &:hover .image-overlay {
    opacity: 0.7;
  }
}

.product-detail__plateList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-detail__plateListItem {
  display: flex;
  justify-content: flex-start;
  padding: $space-xs;

  span {
    font-size: $font-size--md;
    margin-right: $space-md;
  }
}

.product-detail__plateSize {
  font-size: $font-size--md;
  margin-right: $space-xs;
  width: auto;
}

.product-detail__history-container {
  border: 0.5px solid $color-primary--100;
  border-top: none;
  list-style: none;
  margin: 0;
  padding: $space-xs;
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    padding: $space-xs;
  }
}
