.product {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;

  &:hover {
    background: $color-primary--50;
  }

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }
}

.product-container {
  align-items: center;
  display: flex;
  color: $grey--900;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: $space-sm 0;
}

.product-name-container,
.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.product-size-container,
.product-isPrint-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.product-size-container,
.product-isPrint-container {
  color: $grey--600;

  i {
    font-size: $font-size--sm;
  }
}

.product-accountName-container,
.product-productName-container {
  padding: $space-xs 0;
}

.product-accountName,
.product-accountName-error {
  font-size: $font-size--md;
}

.product-accountName-error {
  color: $grey--500;
}

.product-productName {
  font-size: $font-size--lg;
  font-weight: $font-weight--bold;
}

.product-size__thick,
.product-size__length,
.product-size__width,
.product-isPrint {
  font-size: $font-size--md;
  margin: 0;
  padding: $space-xs;
}

.product-buttons-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.product-button {
  height: 2.3rem;
  width: 2.8rem;
  margin: $space-xs;
  padding: $space-xs $space-sm;
}

@media (min-width: $break--sm) {
  .product-container {
    flex-direction: row;
  }

  .product-name-container {
    width: 65%;
  }

  .product-details-container {
    width: 35%;
  }

  .product-button {
    height: 2rem;
    width: 2.5rem;

    span {
      font-size: $font-size--xs;
    }
  }
}

@media (min-width: $break--md) {
  .product-name-container {
    flex-direction: row;
    width: 55%;
  }

  .product-details-container {
    flex-direction: row;
    width: 45%;
  }

  .product-accountName-container {
    width: 35%;
  }

  .product-productName-container {
    width: 65%;
  }

  .product-size__thick,
  .product-size__length,
  .product-size__width {
    font-size: $font-size--md;
  }
}
