.user {
  align-items: center;
  border-bottom: 1px solid $color-primary--100;
  display: flex;
  justify-content: space-between;

  &.current-user {
    background: $color-secondary--50;
  }

  &:hover {
    background: $color-primary--50;
  }

  &:last-child {
    border-bottom: 1.8px solid $color-primary--100;
  }
}

.its-me {
  color: $color-secondary--900;
  margin: $space-xs;
}

.user-list-item__user-detail-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 $space-xs;

  span {
    padding: $space-xs;
  }

  span:first-child {
    font-size: $font-size--lg;
    font-weight: $font-weight--bold;
    padding-top: $space-sm;
  }

  span:last-child {
    padding-bottom: $space-sm;
  }
}

.user-list-item__buttons-container {
  display: flex;
  margin-left: $space-lg;
}

.user-list-item__button {
  height: 2.3rem;
  width: 2.8rem;
  margin: $space-xs;
  padding: $space-xs;
}

@media (min-width: $break--sm) {
  .user-list-item__user-detail-container {
    align-items: center;
    flex-direction: row;
    max-width: 70%;

    span {
      width: 25%;
    }
  }
}

@media (min-width: $break--md) {
  .user-list-item__user-detail-container {
    max-width: 60%;
  }
}
