.user-modal {
  width: 95%;
  max-width: 440px;

  .form-element__label {
    margin-right: $space-xs;
    width: 4rem;
  }

  .form-element span {
    text-align: right;
  }
}

.user-modal__role-select {
  height: 2.1rem;
  margin: 0;
}

.user-modal__error {
  color: $color-error--500;
  font-weight: $font-weight--bold;
  margin: 0;
  text-align: center;
}
