.button {
  background: $color-primary--500;
  border: 1px solid $color-primary--500;
  border-radius: $border-radius;
  color: white;
  margin: $space-xs;
  outline: none;
  padding: $space-sm;

  &:hover,
  &:focus {
    background: $color-primary--50;
    color: $color-primary--900;
    cursor: pointer;
  }
}

.button-cancel {
  background: $color-primary--200;
  border-color: $color-primary--200;
}

.button-circle {
  background: $color-primary--500;
  border: none;
  border-radius: 50%;
  color: white;
  outline: none;

  span {
    display: none;
    font-size: $font-size--xs;
  }

  &:hover {
    background: $color-primary--400;
    cursor: pointer;

    i {
      display: none;
    }

    span {
      display: inline-block;
    }
  }
}
