.radio-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: $space-xs;
  position: relative;

  // on hover & focus
  &:hover input ~ .radiomark,
  & input:focus ~ .radiomark {
    background: $color-primary--50;
    border: 1px solid $color-primary--500;
  }

  // on checked
  & input:checked ~ .radiomark {
    background: $color-primary--500;
  }

  // on hover & focus when disabled
  &:hover input:not([disabled]):checked ~ .radiomark,
  & input:checked:focus ~ .radiomark {
    background: $color-primary--700;
  }

  // on disabled
  & input:disabled ~ .radiomark {
    background: $grey--600;
    pointer-events: none;
    opacity: .5;
  }
  & input:disabled ~ .radiomark:after {
    background: $grey--800;
  }

  // show radiomark
  & input:checked ~ .radiomark:after {
    opacity: 1;
    top: 0.4rem;
    left: 0.4rem;
    height: 0.5rem;
    width: 0.5rem;
    transition: .2s;
  }
}

.radio-container input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiomark {
  border: 1px solid $color-primary--300;
  border-radius: 50%;
  margin-right: $space-xs;
  width: 1.25rem;
  height: 1.25rem;

  &:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    height: 0;
    width: 0;
    border-radius: 50%;
    background: white;
  }
}
